.background{
    background-color: black);
}

.box{
    align-items: center;
    background-color: white;
    border: 1px solid;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.element{
    position: relative;
    left: -10%;
    padding: 10px;
    text-decoration: none;
    list-style: none;
}

.button{
    position: relative;
    left: 24%;
    padding: 10px;
    text-decoration: none;
    list-style: none;
}