{% extends 'attractions/header.html' %}

{% block content %}
<div style="position: relative;top: 100px;">
    <p>Name: {{ attraction_name }}</p>

    <p>Location: {{ attraction_position }}</p>

    <p>Saved: {% if attraction_saved %} yes {% else %} no {% endif %}</p>

    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit"                 
                name="add_or_remove">
            {% if attraction_saved %} 
                Delete from favorites 
            {% else %} 
                Save to favorites 
            {% endif %}
        </button>
    </form>
    <form action="{% url 'attractions:favorites' %}" method="POST">
        {% csrf_token %}
        <button type="submit"                 
                name="apply_changes">
            Apply changes
        </button>
    </form>
<div>
{% endblock %}