{% extends 'attractions/header.html' %}

{% block content %}
<div style="position: relative;top: 100px; overflow: scroll">
    <div style="border: 1px solid">
        <h3>Google denial</h3>
        {{ status }}
        <br><br>
        {{ message }}
        <br>
    </div>
    <br>
    <h3>Mock data</h3>
    <p> Attractions found near {{ latitude }}°N {{ longitude }}°W: </p>
    <p>See also saved list</p>
    <form action="{% url 'attractions:favorites' %}" method="GET">
        <button> Favorites </button>
    </form>
    <ul>
    {% for elem in all_attractions%}
            <form action="/attractions/{{ elem.id }}" method="GET">
                {% csrf_token %}
                <p>{{ elem.name }}</p>
                <button type="submit">
                    Edit preferences
                </button>
            </form>
        </li>
    {% endfor %}
    </ul>
    <br>
    <p>List of db elements:</p>
    <ul>
    {% for elem in all_attractions%}
        <li>{{ elem }}</li>
    {% endfor %}
    </ul>
{% endblock %}