<ul style=" position: fixed;
            top: 0;
            width: 100%;
            left: 0;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: black">
    <li style="float: left;">
        <a style="display: block;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    padding: 14px 16px;
                    background-color: black" 
            href="./">
            More About Attractions
        </a>
    </li>
    
    <li style="float: right">
        <a style="display: block;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    padding: 14px 16px;
                    background-color: black" 
            href="./">
            Menu
        </a>
    </li>
  </ul> 

{% block content %}
{% endblock %}