{% extends 'attractions/header.html' %}

{% block content %}
<h1 style="position: relative;text-align: center;top: 200px">Look for attractions nearby!</h1>

<div style="position: relative;
            text-align: center;
            top: 250px;">
    <form action="{% url 'attractions:nearby' %}" method='GET'>
        <button style="inline-block;
                        padding: 14px 16px;
                        background-color: black;                    
                        text-decoration: none;
                        color: white;"
                method="submit"
                value="Start looking around">
                Start looking around
            <!--<a style="display: block;
                        color: white;
                        text-align: center;
                        text-decoration: none;" 
                href="{% url 'attractions:nearby' %}">
                Start looking around
            </a>-->
        </button>
    </form>
</div>
{% endblock %}