{% extends 'attractions/header.html' %}

{% block content %}
<h1 style="position: relative;text-align: center;top: 200px">Insert a location</h1>

<div style="position: relative;
            text-align: center;
            top: 250px;">
    <form action="{% url 'attractions:found' %}" method="POST">
        {% csrf_token %}
        {{ location_form }}
        <!--
        <input type="text"
                name='location'
                placeholder="(latitude, longitude)"
                style="inline-block;
                        padding: 14px 16px;
                        border: 2px solid black;
                        border-collapse: collapse;
                        background-color: white;
                        color: black;
                        text-decoration: none;
                        text-align: center">
        </input>
        -->
        <br><br>
        <button type="submit"
                value="Send"
                style="inline-block;
                        padding: 14px 16px;
                        background-color: black;
                        color: white;
                        text-decoration: none;">
                        Send
        </button>
    </form>
</div>
<p>{{ new_loc }}</p>
{% endblock %}